<!-- templates/contratos.html -->
{% extends 'base.html' %}

{% block title %}Lista de Contratos{% endblock %}

{% block content %}
<h2>Lista de Contratos</h2>
<div class="container">
    <div class="row">
        {% for contrato in contratos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Contrato No. {{ contrato.contrato_no }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ contrato.tipo_de_contrato }}</h6>
                    <p class="card-text">
                        <strong>Año:</strong> {{ contrato.ANO }}<br>
                        <strong>Nombre:</strong> {{ contrato.nombre }}<br>
                        <strong>Entidad:</strong> {{ contrato.entidad }}<br>
                        <strong>RUP:</strong> {{ contrato.rup }}<br>
                        <strong>Contrato:</strong> {{ contrato.contrato }}<br>
                        <strong>SMMLV:</strong> {{ contrato.smmlv }}<br>
                        <strong>SECOP:</strong> {{ contrato.secop }}<br>
                        <strong>Contrato 2:</strong> {{ contrato.contrato2 }}<br>
                        <strong>Acta Final:</strong> {{ contrato.acta_final }}<br>
                        <strong>Objeto:</strong> {{ contrato.objeto }}<br>
                        <strong>Fecha Inicio:</strong> {{ contrato.fecha_inicio }}<br>
                        <strong>Fecha Final:</strong> {{ contrato.fecha_final }}<br>
                        <strong>Valor:</strong> {{ contrato.valor }}<br>
                        <strong>SMMLV 3:</strong> {{ contrato.smmlv3 }}<br>
                        <strong>Adición:</strong> {{ contrato.adicion }}<br>
                        <strong>Part. %:</strong> {{ contrato.part_porc }}<br>
                        <strong>Valor Total:</strong> {{ contrato.valor_total }}<br>
                        <strong>SMMLV 4:</strong> {{ contrato.smmlv4 }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
